# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: 自动汉化

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: 设置 Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: 安装依赖
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: 初始化
      run:
        python3 1.init.py
      continue-on-error: true
    - name: 手动拉取 zed 源代码
      run:
         cd zed/zed-trans && git clone https://github.com/zed-industries/zed.git
    - name: 汉化
      run: |
        python3 2.trans.py
      continue-on-error: true
    - name: 上传源码
      uses: actions/upload-artifact@v4
      with:
        name: zed-src
        path: zed/zed-trans/
